<div class="container-item">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal">Search</button>
  <%= link_to "Submit a Movie!", new_movie_path, class: "btn btn-primary" %>
</div>
<%= render 'search' %>
<%= render @movies %>
