<h1>Rotten Mangoes</h1>
<section class='submit-movie-section'>
  <%= link_to "Submit a Movie!", new_movie_path %>
</section>
<section class='search-section'>
  <%= render 'search' %>
</section>
<section class='movies-section'>
  <%= render @movies %>
</section>
