$black-color: #141427;
$grey-color: #566e89;
$dark-color: #6aa0c1;
$light-color: #8cb9d4;
$accent-color: #566e89;
$text-color: #dddddd;

body {
  font-family: Arial, sans-serif;
  margin: 0 0 0 0;
  background-color: $black-color;
}

p {
  color: $text-color;
}

a:link {
  text-decoration: none;
  color: $light-color;
}
a:visited {
  text-decoration: none;
  color: $dark-color;
}
a:hover {
  text-decoration: underline;
  color: $dark-color;
}
a:active {
    text-decoration: underline;
    color: $dark-color;
}

h1, h2, h3, h4, h5 {
  color: $text-color;
}

label {
  color: $dark-color;
  font-size: 12px;
  font-weight: bold;
}

.user-info {
  background-color: #000000;
  padding: 10px 10px 10px 10px;
  text-align: right;
  font-size: 14px;
  color: $light-color;
}

.flash {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
  background-color: $light-color;
  color: $black-color;
}

.main-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
