.main-container {
  width: 800px;
}

.status-header-footer {
  padding: 8px 8px 8px 8px;
  background-color: $mango-green;
  color: $mango-light-yellow;
}

.container-item {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 15px 15px 15px;
}

.container-item-highlight {
  background-color: $mango-yellow;
}
