<h1>Admin User Control</h1>
<hr>
<% @users.each do |user| %>
  <h2>User ID: <%= user.id %> -- <%= user.email %></h2>
  <p>Full Name: <%= user.full_name %></p>
  <p><%= link_to "See Full Entry", admin_user_path(user) %></p>
  <hr>
<% end %>